*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    border: 5px solid rebeccapurple;
    width: 400px;
}

h1,
h2 {
    border: 5px solid gray;
    background-color: whitesmoke;
}

h1 {
    padding: 10px;
    margin: 10px auto;
    width: 500px;
}

h2 {
    padding: 5px;
    margin: 10px auto;
    width: 300px;
}

ul,
ol,
p {
    width: 500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
}

.heading {
    background-color: aliceblue;
    color: purple;
    
    font-size: 50px;

    height: 100px;
    width: 500px;

    margin: 40px auto;
    padding: 20px;
    border: 5px solid;
}

#links {
    background-color: aquamarine;
    font-size: large;

    width: 300px;
    
    margin: 0 auto;
    padding: 5px;
    border: 5px solid black;
}

.list {
    text-align: center;
}